@font-face {
  font-family: WarWound;
  src: url("WarWound.otf");
}
@font-face {
  font-family: Audiowide;
  src: url("Audiowide-Regular.ttf");
}
@font-face {
  font-family: CheapSign;
  src: url("CheapSign.ttf");
}
body {
  background-color: red;
}
p {
  color: aqua;
}
h1, a {
  color: aqua;
  text-align: center;
  font-family: Audiowide;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: orange;
}
.nav li {
  float: left;
}
.nav li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: WarWound;
}
.nav li a:hover {
  background-color: #FF5800;
}
.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: orange;
}
.sidenav li a {
  display: block;
  text-decoration: none;
  color: #000;
  font-family: WarWound;
  padding: 8px 16px;
}
.sidenav li a:hover {
  background-color: #FF5800;
}
